# Configurações do JetBrains
.idea

# Apple
.DS_Store

# Ambiente Virtual
.venv/

# Tokens/Security Codes
.psword

# Node modules
node_modules/

# Docker
.dockerignore

# PATH
.bashrc

# Jupyter Notebook
.ipynb_checkpoints

# Anexos do curso
./anexos-do-curso/

# Arquivos grandes
./sprint_07/desafio_01/movies.csv
./sprint_07/desafio_01/series.csv
./sprint_07/hadoop/
./sprint_07/spark/Curso/